.author {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.4rem;
    background: $dark-transparent;  

    h1 {
        margin: 2rem;
    };

    &__main-info {
        h3 {
            margin-right: 2rem;
        };

        div * {
            display: inline;
        };

        img {
            float: left;
            margin-right: 2rem;            
        };
    };

    &__quotes {
        margin: 2rem 8rem 4rem 8rem;
        padding: 2rem;
        border-top: 1px solid $light-font;
        border-bottom: 1px solid $light-font;
        font-style: italic;
        text-align: center;
        
        &::first-letter {
            font-size: 2rem;
        };
    };
};

@media only screen and (max-width: 400px) {
    .author {
        img {
            float: none;
            margin: auto;
            display: flex;
            align-self: center;
        };
    };
};
