@media only screen and (max-width: 600px) {
    .left-bar-cards {
       display: flex;
       flex-direction: row;
       margin-top: 1.6rem;
       overflow: scroll;  
    }
}

@media only screen and (min-width: 768px) {
    .left-bar-cards {
        padding: 0rem;
    }
}