@import './_constants.scss';

.book-card--wishListData, .book-card--leftBarData, .book-card--browserData {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    grid-template-columns: 1fr minmax(min-content , 3fr);
    grid-template-areas: 
    "image info"
    "more more"
    "details details";    
    margin: 1rem 0;
    padding: 1rem;
    position: relative;    
    background: $dark-transparent;
        
        & > * {
            padding: .5rem;
        };

        &__image {
            grid-area: image;
        };
    
        &__info {
            grid-area: info;
            &--title {
                font-size: 1.5rem;
            }
        };
    
        &__more-btn {
            grid-area: more;
        };
    
        &__details {
            grid-area: details;
        };
    
        &__tag {
            display: inline-block;
            margin: 2px;
            background: rgb(44, 46, 46);            
        };

        &__btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 1.5rem;
            margin-right: .7rem;
            padding: 0;
            font-size: 2rem;            
            border: none;
            
            &--plus {
                background-color: darken($dark-font, 10%);
            };
    
            &--minus {
                background-color: $light-font;
                color: $dark-font;
            };
        };                
    };

    .book-card--wishListData, .book-card--browserData {
        font-size: 1.4rem;
    };

    .book-card--leftBarData {
        grid-template-columns: 1fr 10rem;
        grid-template-rows: 1fr;
        margin: .25rem;
        padding: 0.5rem;  

        &__details {
            display: none;            
        };

        &__image {
            padding: 0
        };

        &__info {
          &--date {
            display: none;
          };

           &--title {
            font-size: 1rem;
           };           
        };

        &__more-btn {
            display: none;            
        };
    };

@media only screen and (min-width: 600px) {     
    .book-card--leftBarData { 
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 1rem 0;
        padding: 1rem;

        &__btn {
            font-size: 2rem;   
        };

        &__info--title {
            font-size: 1.2rem;
        };

        &__image {
            align-self: center;
        };
    };
};

@media only screen and (min-width: 768px) {   
    .book-card--leftBarData { 
        margin: 1rem;
   
        &__more-btn {
            display: block;            
        };
    };
};

