@import './_constants.scss';

.book-card {
    border: 1px solid rgba(255, 255, 255, 0.301);
    margin: 1rem;
    padding: 1rem;
    background: $dark-transparent;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    grid-template-columns: 1fr minmax(min-content , 3fr);
    grid-template-areas: 
    "image info"
    "more more"
    "details details";
    & > * {
        padding: .5rem;
    }
    &__image {
        grid-area: image;
    };

    &__info {
        grid-area: info;
    };

    &__more-btn {
        grid-area: more;
    }

    &__details {
        grid-area: details;
    };

    &__tag {
        background: rgb(44, 46, 46);
        display: inline-block;
        margin: 2px;
    };
    &__btn {
        position: absolute;
        font-size: 2rem;
        right: 0;
        top: 0;
        // width: 2rem;
        // height: 2rem;
        margin-right: .7rem;
        padding: 0;
        border: none;

        &--plus {
            //background-color: rgba($dark-font, 0.2);
        }

        &--minus {
            //background-color: $light-font
        }
    }
    
}



@media only screen and (max-width: 600px) {
    .book-card {
        border: 1px solid rgba(255, 255, 255, 0.301);
        margin: .25rem;
        padding: 0.25rem;
        background: rgba(0, 0, 0, 0.178);
               
    }
}