.content {
    padding: $padding-comp;
    max-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 20vh min-content 10vh;
    grid-template-areas: 
    "header header header"
    "left-bar main main"
    "footer footer footer";
    grid-gap: 2rem;    
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .content {        
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 1fr 1fr 50vh;
        grid-template-areas: 
        "header"
        "main"
        "left-bar"
        "footer";
        grid-gap: .5rem;    
    }
} 



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    $padding-comp: 1rem;
    .content {
        padding: $padding-comp;
        max-width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 25vw 1fr;
        grid-template-rows: 20vh 1fr 10vh;
        grid-template-areas: 
        "header header header"
        "left-bar main main"
        "footer footer footer";
        grid-gap: 2rem;    
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content {
        padding: 1rem;        
    }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {   
    .content {
        padding: 2rem;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  
    .content {
        padding: 3rem;
    }
}