//colors
$dark-font: rgb(44, 46, 46);
$light-font: rgb(158, 158, 140);
$footer-green: #293833;

$dark-transparent: rgba(0, 0, 0, 0.692);

//mixins
@mixin disabled-form {
    cursor: not-allowed;
    background: darken($dark-font, 10%);
    color: darken($dark-font, 12%);
    border-color:  darken($dark-font, 12%);
};

@mixin section-headers {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: inherit;
    font-size: 2rem
};