@import './_constants.scss';

.left-bar {   
    grid-area: left-bar;
    padding: 2rem;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background: $dark-transparent;
    &::-webkit-scrollbar {
        width: .7rem;

        &-track {
            background-color: $dark-font;
            -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.534);
        };

        &-thumb {
            background-color: darken($dark-font, 10%);
        };
    };    
};

@media only screen and (max-width: 600px) {   
    .left-bar {
        padding: .3rem;
        overflow-x: hidden;
        overflow-y: hidden;
        h3 {
            position: absolute;
        };
    };
} ;

@media only screen and (min-width: 600px) {   
    .left-bar {
        padding: 1rem;        
    };
};

@media only screen and (min-width: 768px) {
    .left-bar {
        padding: 0rem;
        padding-top: .5rem;

        h3 {
            margin-left: 1rem;
        };
    };
};