@import './_constants.scss';

.search-sort {  
    h3 {
       @include section-headers;
    };
    grid-area: search-sort;
    background:  2rem;
    font-size: 1.1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    background: $dark-transparent;
    &__form {
        display: flex;
        flex-direction: column;

        & * {
            display: flex;
            flex-direction: row;                
            margin: .1rem;
            & div {
                margin-left: 1rem;
            };
        };       
    };

    h3 {
         width: 100%;
         text-align: center; 
         margin: 0;
    };

    &__sort-panel, 
    &__filter-panel {
        border-top: none;   
        flex: 1;
    };

    label {
        margin: 0 .8rem;        
    };

    input {            
        flex-grow: 1;
    };

    input[type=text] {
        padding: .5rem;
        border: none;
        border-bottom: 1px solid transparent;
        border-radius: 0;
        background: $dark-font;
        box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.534);
        color: white;       

        &:focus {
            border: none;
            border-bottom: 1px solid $dark-font;
            box-shadow: 0;
            border-radius: 0;
        };

       

        &:disabled {
            @include disabled-form;

            &::placeholder {
             color: darken($dark-font, 12%);   
            };
        };
    };

    input[type="radio"]{
        background: black;
    };
    button:disabled {
        @include disabled-form;        
        color: darken($dark-font, 12%);
                
    };
}

@media only screen and (min-width: 600px) {  
    .search-sort {       
        &__sort-panel, 
        &__filter-panel {
            margin: .2rem;
        };
    };     
};

@media only screen and (min-width: 768px) {
    .search-sort {
        padding: .3rem;     
        &__form {
            & > * {
                display: flex;
                flex-direction: column;
            };           
        };

        &__sort-panel, 
        &__filter-panel {
            border-top: 1px solid rgba(0, 0, 0, 0.404);
            margin: 1rem 0;        
            padding-top: 1rem;
        };

        input[type='text'] {          
            margin-top: 1rem
        };
    };

    #search_btn{
        display: inline-block;
        text-align: center;
        
    }
};

@media only screen and (min-width: 1200px) {  
    .search-sort {       
        padding: 1rem;

        &__form {
            display: flex;
            flex-direction: column;

            & * {
                display: flex;
                flex-direction: row;    
            };
        }; 
            
        button, label {
            margin-top: 1rem;  
        };
    };         
};