@import './_constants.scss';

.sorted-component {    
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sorted-component_content search-sort";
    grid-gap: 2rem;

    &_content {
        padding: 2rem;
        grid-area: sorted-component_content;
    }
}

@media only screen and (max-width: 600px) { 
    .sorted-component {        
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            "search-sort" 
            "sorted-component_content";       
    };
}; 

@media only screen and (min-width: 600px) {   
    .sorted-component {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            "search-sort" 
            "sorted-component_content";
        &_content {
            padding: 0;
        };
    };  
}; 

@media only screen and (min-width: 768px) {
    .sorted-component {
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "sorted-component_content search-sort";
        grid-gap: 1rem;
    
        &_content {
            padding: .5rem;
        };
    };
}; 

@media only screen and (min-width: 992px) { 
    .sorted-component {
        grid-template-columns: 1fr minmax(min-content, max-content);
        grid-template-rows: 1fr;      
        grid-gap: 2rem;

        &_content {
            padding: 2rem;
        };
    };
};
